# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env files
.env
.env*.local

# debug
npm-debug.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# database
data/*.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
